<div class="row">
    <div class="col-md-12">
        <form class="dx-signin">
            <h2 class="dx-signin-heading">Please sign in</h2>
            <label for="inputUserName" class="sr-only">Email address</label>
            <input type="text" id="inputUserName" class="form-control" ng-model="userLogin.Username" placeholder="User Name" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" ng-model="userLogin.Password" placeholder="Password" required>
            <!--<div class="checkbox">-->
                <!--<label>-->
                    <!--<input type="checkbox" value="remember-me"> Remember me-->
                <!--</label>-->
            <!--</div>-->
            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="logIn()">Sign in</button>
        </form>
    </div>
</div>