<div class="row">
    <div class="dx-body-menu col-xs-12">
        Menu
    </div>
</div>

<div class="row">
    <div class="dx-body-filter col-md-3">


        <div class="form-group">

            <div class="input-group">
                <input class="form-control" type="text">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Search</button>
                </span>
            </div>
        </div>



        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
            </li>
            <li class="list-group-item">
                <span class="badge">2</span>
                Dapibus ac facilisis in
            </li>
            <li class="list-group-item">
                <span class="badge">1</span>
                Morbi leo risus
            </li>
        </ul>
    </div>


    <div class="dx-body-results col-md-9">
        <table class="table table-striped table-hover dx-result-table col-md-12">
            <thead>
            <tr>
                <th>Title</th>
                <th>Version</th>
                <th>Published</th>
                <th>File Type</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Testing AFD3423 on SD-jt</td>
                <td>5.2</td>
                <td>1/5/1983</td>
                <td>PDF</td>
            </tr>
            <tr class="danger">
                <td>Component - Timer V2.5</td>
                <td>2.0</td>
                <td>2/15/2015</td>
                <td>PDF</td>
            </tr>

            <tr >
                <td>5x on SmartPower</td>
                <td>4.2</td>
                <td>12/15/2015</td>
                <td>PDF</td>
            </tr>
            <tr >
                <td>Cross Probing with SmartTimer</td>
                <td>6.2</td>
                <td>5/15/2016</td>
                <td>PDF</td>
            </tr>
            <tr >
                <td>Bus read options like Bin, Hex, etc</td>
                <td>12.0</td>
                <td>5/5/2001</td>
                <td>PDF</td>
            </tr>
            <tr >
                <td>Auto-generation of Clock Constraints</td>
                <td>21.5</td>
                <td>9/25/9999</td>
                <td>PDF</td>
            </tr>
            <tr >
                <td>Optimization in navigation runtime</td>
                <td>7.5</td>
                <td>6/21/2015</td>
                <td>PDF</td>
            </tr>
            <tr>
                <td>RTG4 Radiation-tolerant FPGAs</td>
                <td>9.2</td>
                <td>7/21/2015</td>
                <td>PDF</td>
            </tr>

            </tbody>
        </table>

        <div class="col-md-12 text-center">
            <ul class="pagination dx-paginator">
                <li><a href="">&laquo;</a></li>
                <li><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li><a href="">5</a></li>
                <li><a href="">&raquo;</a></li>
            </ul>
        </div>

    </div>



</div>
