<div class="row ">
    <div class="col-md-12">
        <h1 class="dx-body-header">Settings : developer</h1>
    </div>
    <div class="col-md-8">
        <h3>File System Tests</h3>

        <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Set Directory</button>
            </span>
            <input class="form-control" type="text" ng-model="workingDir">

        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-click="testCreateFolder()">Create Directory</button>
            <button type="button" class="btn btn-default" ng-click="testReadFolder()">Read Directory</button>
            <button type="button" class="btn btn-default" ng-click="testDeleteFolder()">Delete Directory</button>
        </div>

        <!--<div class="btn-group">-->
        <!--<button type="button" class="btn btn-default" ng-click="testCanReadFolder()">Read Permissions</button>-->
        <!--<button type="button" class="btn btn-default" ng-click="testCanWriteFolder()">Write Permissions</button>-->
        <!--</div>-->

        <br>
        <br>
        <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Set FileName</button>
            </span>
            <input class="form-control" type="text" ng-model="testFile">
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-click="testWriteFile()">Create File</button>
            <button type="button" class="btn btn-default" ng-click="testReadFile()" >Read File</button>
            <button type="button" class="btn btn-default" ng-click="testOpenFile()">Open File</button>
            <button type="button" class="btn btn-default" ng-click="testDeleteFile()">Delete File</button>
        </div>

    </div>
    <div class="col-md-4">
        <h3>Auth</h3>
        <div class="btn-group">
            <button type="button" ng-click="loggedIn()" class="btn btn-default">Am I logged in?</button>
        </div>
        <div class="btn-group">
            <button type="button" ng-click="getMyToken()" class="btn btn-default">Whats my token?</button>
        </div>
    </div>

</div>
<div class="row">
      <div class="col-md-12">
          <h3>API Connectivity</h3>
          <button type="button" class="btn btn-default" ng-click="testApi()">Test Get List</button>
          <ul>
              <li ng-repeat="x in listData">
                  {{x.ProductFamilyName}}
              </li>
          </ul>

      </div>
</div>
