<h1>start</h1>

<!--<div class="update">-->
    <!--<div ng-if="updateRunning" alt="Loading...">Loading...</div>-->
    <!--<span ng-if="!updateRunning" class="big_logo"> logo</span>-->
<!--</div>-->
<!--<div class="update_text">-->
    <!--<div class="update_title">-->
        <!--<span ng-if="updateRunning">Update running</span>-->
        <!--<span ng-if="!updateRunning">Update not running</span><br>-->
        <!--<span ng-if="manifest.hasOwnProperty('version')"> Version: {{manifest.version}}</span>:-->
    <!--</div>-->
    <!--<p ng-bind-html="manifest.notes"></p>-->
<!--</div>-->

<!--<div class="page_controls" ng-if="!updateRunning">-->

    <!--<button class="btn btn_green long" ng-click="checkNewVer()">Check new version</button>-->
    <!--<button class="btn btn_green long" ng-click="unpack()">Unpack</button>-->
    <!--<button class="btn btn_green long" ng-click="install()">Install</button>-->
<!--</div>-->